<div class="test-scoped-style-view-component">
  <h1>This is a component whose styles are scoped to the template</h1>
  <h2>And it has some localized javascript</h2>
  <button class="test-scoped-style-view-component__button">Click me</button>
</div>
